@import "tailwindcss";

:root {
  --background: oklch(0.987 0.022 95.277);
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* src/app/globals.css */
@media print {
  body {
    background: white !important;
    color: black !important;
    font-size: 12px; /* mindre text */
  }

  header, footer, button, nav {
    display: none !important; /* göm allt utom menyn */
  }

  main {
    padding: 0 !important;
    max-width: 100% !important;
  }

  h1 {
    font-size: 16pt;
  }

  h2 {
    font-size: 14pt;
  }

  ul li {
    margin-bottom: 2px;
    page-break-inside: avoid;
  }
}
